@font-face {
  font-family: generalFont;
  src: url(./assets/fonts/Nunito/static/Nunito-Regular.ttf);
}

@font-face {
  font-family: BoldFont;
  src: url(./assets/fonts/Nunito/static/Nunito-Bold.ttf);
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #dadada;
  --grey2: #5a5b5d;
  --primary: #571d7a;
  --boldFont: BoldFont;
  --baseFont: generalFont;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #faf9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--baseFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--boldFont);
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px; /* height of horizontal scrollbar ← You're missing this */
  width: 7px; /* width of vertical scrollbar */
  background-color: transparent !important;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border-right: 3px rgba(0, 0, 0, 0) solid;
  -webkit-box-shadow: inset 0 0 6px #f1f0fd;
  background-color: rgba(0, 0, 0, 0.4);
  scroll-behavior: smooth;
  background-clip: padding-box;
}

.app-padding {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 800px) {
  .app-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}
